body {
    font-family: 'Inter', sans-serif;
}

:root{
    --color-light: #ffffef;
    --color-dark: #212529;
    --color-red: #dc3545;
}

html {
    scroll-behavior: smooth !important;
}

.navbar-toggler {
    box-shadow: none !important;
}

.text-hover{
    transition: .5s;
}

.text-hover:hover{
    color: var(--color-light)
}

.bs-icon{
    position: relative;
    top: 1px;
}

.collapsed {
    background-color: var(--color-light) !important;
    color: var(--color-dark) !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--color-red);
    color: var(--color-light);
}

.accordion-button:focus {
    box-shadow: none;
}

.form-control {
    box-shadow: none !important;
}